/* ************ Mouse Copy Off  */
html {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #cc0000;
}
/* ***************************** */

/* ************* Scroll behavior */
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
/* **************************** */

/* ************** Selection in html */
::selection {
  background-color: var(--red);
  color: var(--white);
}
/* ******************************** */

/* *************** Font face diclaration */
@font-face {
  font-family: "Berkshire Swash";
  src: url("./Fonts/BerkshireSwash-Regular.ttf");
}
/* ************************************* */

/* ****************** Bootstrap default focus off */
input:focus,
select:focus,
optgroup:focus,
textarea:focus {
  outline: none !important;
  box-shadow: none !important;
}
/* ********************************************* */

/* ****************** Table Css */
/* Table row height and width */
table {
  border-collapse: separate;
  border-spacing: 5px 10px;
}

/* Collapse Table Borders */
table {
  border-collapse: collapse;
}

/* Responsive Table - table wrap into a div then-- */
div {
  overflow-x: auto;
}
/* ********************************************* */


/* Custome Scrollbar -- */
/* width */
::-webkit-scrollbar {
  width: 20px; /* width of vertical scrollbar */
  height: 20px; /* height of horizontal scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
/* ********************************************* */


/* ************************************************* */
/* For Inline elements like <a> tag, now allowed height and width by inheritence("display: inline").
But changing property into "display: inline-block", its allowed specific height and width.
*/
a {
  display: inline-block; /* Allows setting width and height for anchor Tag*/
  width: 50px;
  height: 50px;
}
/* ************************************************* */


/* ************************************************* */
/* Input Type Number default Arrows/Spinners Remove
Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
/* ************************************************* */

/* ************************************************* */
/* Equivalent of bootstrap container class */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* ************************************************* */

/* *********************************************** */
/* input type cursor & text color change */
input:focus {
  color: #d4f9ff;
}
/* *********************************************** */

/* *********************************************** */
/* image Brightness */
Selectors {
  filter: brightness(110%);
}
/* *********************************************** */


/* *********************************************** */
/* Custom checkbox/radio */
/* HTML
<label class="custom-radio">
  <input type="radio" name="friday" class="hidden-radio" />
  <span class="custom-checkbox"></span> Select
</label>
```
As like Checkbox
```
*/
.custom-radio {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hidden-radio {
  display: none;
}

.custom-checkbox {
  width: 18px;
  height: 18px;
  border: 2px solid #000;
  border-radius: 4px;
  margin-right: 8px;
  display: inline-block;
  position: relative;
}

.hidden-radio:checked + .custom-checkbox:after {
  content: "\2713";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -60%);
  font-size: 36px;
  color: var(--deep-green);
}

/* 
```
Radio custome
```
*/
.custom-radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.hidden-radio {
  display: none;
}

.custom-checkbox {
  width: 18px;
  height: 18px;
  border: 2px solid #000; /* Checkbox border color */
  border-radius: 4px;
  margin-right: 8px;
  display: inline-block;
  position: relative;
}

.hidden-radio:checked + .custom-checkbox:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #000; /* Checkbox checkmark color */
  border-radius: 2px;
  display: block;
}

/* *********************************************** */