/* ************ Mouse Copy Off  */
html {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #cc0000;
}
/* ***************************** */

/* ************* Scroll behavior */
@media (prefers-reduced-motion: no-preference) {
    :root {
      scroll-behavior: smooth;
    }
  }
/* **************************** */

/* ************** Selection in html */
::selection {
    background-color: var(--red);
    color: var(--white);
  }
/* ******************************** */

/* *************** Font face diclaration */
@font-face {
    font-family: "Berkshire Swash";
    src: url("./Fonts/BerkshireSwash-Regular.ttf");
  }
/* ************************************* */

/* ****************** Bootstrap default focus off */
input:focus,
select:focus,
optgroup:focus,
textarea:focus {
  outline: none !important;
  box-shadow: none !important;
}
/* ********************************************* */

